{% extends "base.html" %}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/articles.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

<div class="container">
    <ul class="row">
        <h2>bbc-news</h2>
        {{ macro.displayArticles(bbc_news_articles) }}
    </ul>
</div>
<div class="container">
    <ul class="row">
        <h2>abc-news-au</h2>
        {{ macro.displayArticles(a) }}
    </ul>
</div>
<div class="container">
    <ul class="row">
        <h2>aftenposten</h2>
        {{ macro.displayArticles(b) }}
    </ul>
</div>
<div class="container">
    <ul class="row">
        <h2>al-jazeera-english</h2>
        {{ macro.displayArticles(c) }}
    </ul>
</div> 
<div class="container">
    <ul class="row">
        <h2>associated-press</h2>
        {{ macro.displayArticles(d) }}
    </ul>
</div>  
<div class="container">
    <ul class="row">
        <h2>bloomberg</h2>
        {{ macro.displayArticles(e) }}
    </ul>
</div>    
<div class="container">
    <ul class="row">
        <h2>cbs-news</h2>
        {{ macro.displayArticles(f) }}
    </ul>
</div>   
<div class="container">
    <ul class="row">
        <h2>cnn-es</h2>
        {{ macro.displayArticles(g) }}
    </ul>
</div>   
<div class="container">
    <ul class="row">
        <h2>crypto-coins-news</h2>
        {{ macro.displayArticles(h) }}
    </ul>
</div>   
<div class="container">
    <ul class="row">
        <h2>financial-post</h2>
        {{ macro.displayArticles(i) }}
    </ul>
</div> 
{% endblock %}