{% extends "base.html" %}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/articles.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
<div>
    <h1>Headlines articles</h1>
    <ul>
        {{ macro.displayArticles(bbc_news_articles) }}
    </ul>
    <ul>
        {{ macro.displayArticles(a) }}
    </ul>
    <ul>
        {{ macro.displayArticles(b) }}
    </ul>
    <ul>
        {{ macro.displayArticles(c) }}
    </ul>
    <ul>
        {{ macro.displayArticles(d) }}
    </ul>
    <ul>
        {{ macro.displayArticles(e) }}
    </ul>
    <ul>
        {{ macro.displayArticles(f) }}
    </ul>
    <ul>
        {{ macro.displayArticles(g) }}
    </ul>
    <ul>
        {{ macro.displayArticles(h) }}
    </ul>
    <ul>
        {{ macro.displayArticles(i) }}
    </ul>
</div>
{% endblock %}