{% extends "base.html" %}

{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block body %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
<div>
    <ul>
        {% for sources in news_sources %}
        <li>
            {{sources.id}}
            <h1>{{sources.name}}</h1>
            <p>{{sources.description}}</p>
            <a href="{{sources.url}}">{{sources.name}} Website</a>
            <h3>News Category:{{sources.category}}</h3>
        </li>
        
        {% endfor %}
    </ul>
</div>
{% endblock %}